$primary-color: #3490dc;
$secondary-color: #ffed4a;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$border-radius: 0.25rem;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

$bgg-color: #af1e73;
$sidebar-width: 300px;
$gap-size: 10px;
